<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title%}!!!Change the title!!!{% endblock%}{% if home_page %}Code Snippets{% endif %}{% if home_page %} |{% endif %} snippify</title>
	<link rel="shortcut icon" href="{{MEDIA_URL}}images/favico.ico" />
	<link rel="search" type="application/opensearchdescription+xml" title="Snippify.me" href="{% url snippify_search_plugin %}" />
	<link rel="stylesheet" type="text/css" media="all" charset="utf-8" href="{{MEDIA_URL}}css/snippify_base.css"/>
	<!--[if lt IE 9]>
	<style>article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }</style>
	<![endif]-->
	{% block head %}{% endblock %}
</head>
<body>
<header id="header" class="clearfix">
	<div id="logo">
		<a href="{% url snippify_index %}">snippify</a>
	</div>
	<div class="menubar clearfix">
		<nav id="primary-navigation">
			{% if user.is_authenticated %}
			<li><a class="first" href="/accounts/profile">{{user.username}}</a></li>
			<li><a href="{% url snippify_create %}">Add a snippet</a></li>
			<li><a href="/account/signout">Logout</a></li>
			{% else %}
				<li class="first" id="login"><a href="/account/signin">Login / Register</a></li>
			{% endif %}
		</nav>
		<div id="search-form">
			<form method="get" action="{% url snippify_search %}">
				<div><input type="text" name="q" id="big-search-input" /></div>
			</form>
		</div>
	</div>
</header>

<div id="main" class="{% if home_page %}intro {% endif %}{% if sidebared %}sidebared {% endif %}clearfix">
	{% if flash %}<div id="flash_message" class="{% if flash.1 %}{{flash.1}}{% else %}info{% endif %}">{{flash.0}}</div>{% endif %}
	<div id="main-content">
		{% block content %}{% endblock %}
	</div>
</div>

<footer>
	<a title="A Django joint." href="http://www.djangoproject.com/" rel="external"
	   id="powered-by"><img alt="A Django joint." src="{{MEDIA_URL}}images/django.png"/></a>
	<nav class="secondary-navigation">
		<li><a href="/about/">About</a></li>
		<li><a href="/faq/">FAQ</a></li>
		<li><a href="/plugins/">Plugins</a></li>
		<li><a href="/tags/">Tags</a></li>
		<li><a href="/legal/">Legal</a></li>
		<li><span>{% now "Y" %} Code Snippets | Snippify.me</span></li>
	</nav>
</footer>
<script> var MEDIA_URL = '{{MEDIA_URL}}';</script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="{{MEDIA_URL}}js/jquery.min.js"></script>{% block extra_scripts %}{% endblock %}
<script src="{{MEDIA_URL}}js/snippify_base.js"></script>
</body>
</html>
