{% for snippet in snippets %}
<div class="latest-snippets clearfix">
	<h3><a href="{%url snippify_read snippet.pk %}-{{snippet.title|slugify}}">{{snippet.title}}</a></h3>
	<p>{{snippet.description|truncatewords:16}}&nbsp;</p>
	<p class="snippet-meta">Added by <a href="/accounts/{{snippet.author}}">{{snippet.author}}</a> {{snippet.created_date|timesince}} ago</p>
</div>
{%empty%}
<div class="latest-snippets clearfix">
	There are no snippets. Add <a href="{% url snippify_create %}">one</a>.
</div>
{% endfor %}
